/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .voting-wrap h5, .voting-wrap h6{
    margin: 0;
 }
 h5{
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #222;
    margin-bottom: 10px !important;
 }
 h6{
    font-weight: 600;
 }
 .voting-wrap .clicked img{
   background: #65a4ff69;
   border-radius: 40px;
 }
 .voting-wrap .clicked{
   border: 1px solid #3487ff;
 }

 .voting-wrap button:disabled
{
    opacity:1;
    color: #111;
}
.voting-wrap{
   width: max-content;
   border: 2px dashed #9865ff;
   border-radius: 10px;
   padding: 30px;
   margin: auto;
   margin-top: 30px;
}
 .voting-wrap img{
    width: 20px;
 }
 .gap-50{
    gap: 50px;
 }
 .gap-20{
    gap: 20px;
 }
 .gap-2{
    gap: 2px;
 }
 .voting-wrap button:hover img{
    background: #65a4ff69;
    border-radius: 40px;
 }
 .voting-wrap button:hover{
    border: 1px solid #65a4ff;
 }
 .voting-wrap button{
    background: transparent;
    border: 1px solid #c7c7c7;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 6px;
 }
 .voting-wrap .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: start;
 }

 @media (max-width: 635px) {
   .grid-mob {
     grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
     margin: auto;
   }
 }